<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Error</title>
        <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
  <div class="container error-container">
        <div class="card error-card shadow">
            <div class="card-body">
                <h1 class="card-title text-danger">Error</h1>
                <p class="card-text">{{mensaje}}</p>
                <a href="/" class="btn btn-primary">Volver al Login</a>
            </div>
        </div>
    </div>
    <script src="/bootstrap.js"></script>
    <script src="/htmx.min.js"></script>
</body>
</html>
