<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Productos</title>
        <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
   <div class="container mt-5">
        <h2>Lista de Productos</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Descuento</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                    {{#productos}}
                    <tr hx-get="/product-form/{{id}}" hx-target="#edit-form" hx-swap="outerHTML">
                        <td>{{nombre}}</td>
                        <td>{{precio}}</td>
                        <td>{{descuento}}</td>
                    <td><button class="btn btn-primary btn-sm">Edit</button></td>
                </tr>
                {{/productos}}
            </tbody>
        </table>

        <div id="edit-form"></div>
    </div>        
    <script src="/bootstrap.js"></script>
    <script src="/htmx.min.js"></script>
</body>
</html>
